:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  /* color-scheme: light dark; */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

.check {
  display: flex;
  margin-bottom: 0.5rem;
}
.check svg {
  margin-top: 1px;
  margin-right: 0.5rem;
}
.service {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.status svg {
  margin-left: 0.5rem;
}

.service-name {
  margin-right: 2rem;
}
.instructions {
  background: #f5f7f9;
  border-left: 2px solid rgb(52, 109, 219);
  padding: 1rem;
  margin-top: 4px;
}